aside {
  background-color: $primary-dark;
  grid-row: 2;
  grid-column: 1;
  // defining the width on the grid child, not the grid container
  display: block;
  padding: 0.5rem;
  transform: translateX(-100%);
  @include transition;
  position: absolute;
  width: 100vw;
  height: calc(100vh - 45px);
  top: 45px;
  &.is-toggled {
    transform: translateX(0);
  }
  .menu {
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      a {
        display: flex;
        text-decoration: none;
        color: $white;
        padding: 0.5rem;
        i {
          width: 1.25rem;
          text-align: center;
        }
        span {
          flex: 1;
          margin-left: 0.5rem;
        }
      }
    }
  }
}

@media screen and (min-width: $breakpoint-sm) {
  aside {
    width: $menu-width-open;
  }
}

@media screen and (min-width: $breakpoint-md) {
  aside {
    transform: translateX(0);
    position: relative;
    width: $menu-width-collapsed;
    top: 0;
    display: flex;
    justify-content: center;
    .menu-item-label {
      @include hidden;
    }
    &.is-toggled {
      width: $menu-width-open;
      .menu-item-label {
        @include visible;
      }
    }
  }
}
