@mixin transition {
  -webkit-transition: 0.45s;
  -moz-transition: 0.45s;
  -o-transition: 0.45s;
  transition: 0.45s;
}

@mixin visible {
  visibility: visible;
  opacity: 1;
  position: relative;
}

@mixin hidden {
  @include transition;
  visibility: hidden;
  opacity: 0;
  position: absolute;
}
